a {
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-en-simple {
  display: none;
}

.caja-gris-punteada {
  border: 1px dashed #555;
  padding: 10px;
  background-color: #111;
}

/* Menú horizontal */
.recursos-superior {
  border-bottom: #fff dashed;
  padding-bottom: 0.5em;
}

.icono-recurso {
  display: none;
}

.icono-recurso::before {
  content: attr(data-text);
}

/* Contenedor principal */
.main-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

/* Contenido principal */
.content {
  flex: 1;
  padding: 0 10px 0 10px;
}

/* Tablas */
.info-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.info-table td,
.info-table th {
  padding: 5px 10px;
  text-align: left;
}

/* Secciones de texto */
.section {
  margin-top: 10px;
  padding: 0 10px 0 10px;
}

.section h2 {
  color: #fff;
  margin-bottom: 10px;
}

.section-content {
  /*border: 1px dashed #555; Estilo simple: lo quitamos */
  padding: 10px;
  /*background-color: #111; Estilo simple: lo quitamos */
}

/* Div regiones derecho */
.div-regiones {
  width: 25%;
  /* Ajusta el ancho cuando es lateral */
  padding: 10px;
}

.region-header {
  cursor: pointer;
}

.region-content {
  margin-top: 10px;
  display: none;
  /* Inicialmente colapsado */
}

/* Botones estillo básico MS-DOS */
.button-basic {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: #fff;
  background-color: #000;
  /*border: 2px solid #222; Estilo simple: lo quitamos */
  border: 0;
  /*padding: 5px 15px; Estilo simple: lo quitamos */
  cursor: pointer;
  transition: all 0.2s;
}

.button-basic:hover {
  background-color: #222;
}

.button-basic:active {
  transform: translateY(2px);
  border-color: #222;
}

.toggle {
  float: right;
}

@media (orientation: portrait) {
  .main-container {
    flex-direction: column !important;
  }

  .content {
    padding-top: 0;
  }

  .content {
    order: 2;
  }

  .div-lateral {
    width: 100%;
    border-left: none;
    border-top: none;
    order: 1;
  }

  .recursos-nombre {
    display: none;
  }

  .recursos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .recursos-produccion {
    display: none;
  }

  .solo-escritorio {
    display: none;
  }

  .solo-movil {
    display: block;
  }
}

@media (orientation: landscape) {
  .solo-movil {
    display: none;
    /* Oculta el diseño alternativo en escritorio */
  }

  .solo-escritorio {
    display: block;
  }
}

/* Progress Bar Styles for Simple Mode */
.progress-bar-container {
  width: 100%;
  background: repeating-linear-gradient(45deg, #808080 0px, #808080 1px, #c0c0c0 1px, #c0c0c0 2px);
  border-radius: 0;
  overflow: hidden;
  margin-top: 5px;
  height: 18px;
  position: relative;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: #ffffff;
  transition: width 0.5s ease;
}

.percentage-text {
  color: #fff;
}

#timer {
  color: #fff;
}